.taskList {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 46rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.taskList header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.taskList header p {
  font-size: 0.875rem;
  display: flex;
  gap: .5rem;
  align-items: center;
  font-weight: bold;
}

.taskList header p:first-of-type {
  color: var(--blue);
}

.taskList header p:last-of-type {
  color: var(--purple);
}

.taskList header p span {
  padding: 0.125rem .5rem;
  border-radius: 999px;
  background-color: var(--gray-400);
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: bold;
}

.taskList .emptyList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1.5rem;
  gap: 1rem;
  border-top: 1px solid var(--gray-400);
  color: var(--gray-400);
}

.taskList .emptyList > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.taskList .emptyList p {
  color: var(--gray-300);
  font-style: 1rem;
}

.taskList .emptyList p strong {
  font-weight: bold;
}

.taskList .list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.taskList .list > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 0.75rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .1s;
}

.taskList .list > div:hover {
  background-color: var(--gray-400);
}

.taskList .list > div div {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--blue);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-100);
}

.taskList .list > div.completed div {
  background-color: var(--purple);
  border: 1px solid var(--purple);
}

.taskList .list > div p {
  display: block;
  flex: 1;
  color: var(--gray-100);
}

.taskList .list > div.completed p {
  color: var(--gray-300);
  text-decoration: line-through;
}

.taskList .list > div button {
  border: none;
  background-color: transparent;
  color: var(--gray-300);
  transition: color .1s;
  cursor: pointer;
}

.taskList .list > div button:hover {
  color: var(--danger);
}
